In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("../data//raw/Loan_default.csv")

In [5]:
numerical_continuous = [
    "Age",
    "Income",
    "LoanAmount",
    "CreditScore",
    "InterestRate",
    "DTIRatio",
    "MonthsEmployed"
]


categorical_nominal = [
    "EmploymentType",
    "MaritalStatus",
    "LoanPurpose",
    "NumCreditLines",
    "LoanTerm"
]

categorical_binary = [
    "HasMortgage",
    "HasDependents",
    "HasCoSigner"
]

ordinal = ["Education"]

In [8]:
for col in numerical_continuous:
    print(col)
    print(df.groupby("Default")[col].describe())
    print("="*50)

Age
            count       mean        std   min   25%   50%   75%   max
Default
0        225694.0  44.409962  14.889574  18.0  32.0  45.0  57.0  69.0
1         29653.0  36.559539  13.897468  18.0  25.0  34.0  47.0  69.0
==================================================
Income
            count          mean           std      min      25%      50%  \
Default
0        225694.0  83899.165995  38498.801232  15000.0  50994.0  84237.5
1         29653.0  71844.722659  40785.099507  15004.0  34022.0  66566.0

               75%       max
Default
0        117186.75  149999.0
1        106895.00  149995.0
==================================================
LoanAmount
            count           mean           std     min       25%       50%  \
Default
0        225694.0  125353.656017  70708.101479  5001.0  63889.25  124236.0
1         29653.0  144515.311469  69547.822943  5000.0  88085.00  152672.0

               75%       max
Default
0        186177.75  249999.0
1        205468.00  249993.0
==================================================
CreditScore
            count        mean         std    min    25%    50%    75%    max
Default
0        225694.0  576.232270  158.849404  300.0  439.0  577.0  714.0  849.0
1         29653.0  559.286143  158.521855  300.0  421.0  553.0  693.0  849.0
==================================================
InterestRate
            count       mean       std  min    25%    50%    75%   max
Default
0        225694.0  13.176994  6.612265  2.0   7.45  12.99  18.85  25.0
1         29653.0  15.896227  6.320304  2.0  11.06  16.93  21.36  25.0
==================================================
DTIRatio
            count      mean       std  min   25%   50%   75%  max
Default
0        225694.0  0.498602  0.231099  0.1  0.30  0.50  0.70  0.9
1         29653.0  0.512467  0.229160  0.1  0.32  0.52  0.71  0.9
==================================================
MonthsEmployed
            count       mean        std  min   25%   50%   75%    max
Default
0        225694.0  60.764721  34.556394  0.0  31.0  61.0  91.0  119.0
1         29653.0  50.235457  33.882499  0.0  21.0  46.0  78.0  119.0
==================================================

In [12]:
for col in categorical_nominal:
    print( pd.crosstab(
            df[col],
            df["Default"],
            normalize="index"
        ) * 100)
    print("="*50)

Default                 0          1
EmploymentType
Full-time       90.536634   9.463366
Part-time       88.034787  11.965213
Self-employed   88.537971  11.462029
Unemployed      86.447105  13.552895
==================================================
Default                0          1
MaritalStatus
Divorced       87.467219  12.532781
Married        89.602823  10.397177
Single         88.087564  11.912436
==================================================
Default              0          1
LoanPurpose
Auto         88.118559  11.881441
Business     87.673983  12.326017
Education    88.161945  11.838055
Home         89.765238  10.234762
Other        88.211494  11.788506
==================================================
Default                 0          1
NumCreditLines
1               89.476666  10.523334
2               88.941213  11.058787
3               88.075320  11.924680
4               87.057607  12.942393
==================================================
Default           0          1
LoanTerm
12        88.382362  11.617638
24        88.392245  11.607755
36        88.431484  11.568516
48        88.425908  11.574092
60        88.303945  11.696055
==================================================

In [16]:
pd.crosstab(
    df["Education"],
    df["Default"],
    normalize="index"
) * 100

Default              0          1
Education
Bachelor's   87.898891  12.101109
High School  87.121105  12.878895
Master's     89.128279  10.871721
PhD          89.414042  10.585958